.mod_project_list .owl-carousel-fix .item .img-fluid > img {
    max-width: 100%;
    height: auto;
}

mod_project_list .owl-carousel-fix .item .w-100 > img {
    width: 100%;
    height: auto;
}

.mod_project_list .img-fluid > img {
    max-width: 100%;
    height: auto;
}

.mod_project_list .w-100 > img {
    width: 100%;
    height: auto;
}
